body{
    background-color: black;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.title{
    color: white;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
}
.text{
    color: white;
    border-bottom: 1px solid white;
    font-size: 20px;
    cursor: pointer;
}
.text:hover{
    text-decoration:line-through;
}
.input{
    background-color: black;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
}
.button{
    background-color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: .5s;
}
.button:hover{
    background-color: green;
    color: white;
}